node_modules
build
npm-debug.log
.env
.DS_Store
media/*
db/*
tokens
package-lock.json
Auto Py Web.data.json
Auto Py Web2.data.json
.node-persist
session.data.json
tokens/
agente-vendas-lnxa-b897141276bc.json