<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
  <title>Elegant Bootstrap 4 message chat box template - Bootsnipp.com</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.3/socket.io.js"
    integrity="sha512-Jr0UIR/Q8MUX+93zjDOhuDUKLqJZObtwpkLJQcR9qMaLgL0thet39IORuavUaZFkZ8a4ktrUsKPM9mf5LWMduA=="
    crossorigin="anonymous"></script>
  <style type="text/css">
    body,
    html {
      height: 100%;
      margin: 0;
      background: #7F7FD5;
      background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
      background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    }

    .chat {
      margin-top: auto;
      margin-bottom: auto;
    }

    .card {
      height: 500px;
      border-radius: 15px !important;
      background-color: rgba(0, 0, 0, 0.4) !important;
    }

    .contacts_body {
      padding: 0.75rem 0 !important;
      overflow-y: auto;
      white-space: nowrap;
    }

    .msg_card_body {
      overflow-y: auto;
    }

    .card-header {
      border-radius: 15px 15px 0 0 !important;
      border-bottom: 0 !important;
    }

    .card-footer {
      border-radius: 0 0 15px 15px !important;
      border-top: 0 !important;
    }

    .container {
      align-content: center;
    }

    .search {
      border-radius: 15px 0 0 15px !important;
      background-color: rgba(0, 0, 0, 0.3) !important;
      border: 0 !important;
      color: white !important;
    }

    .search:focus {
      box-shadow: none !important;
      outline: 0px !important;
    }

    .type_msg {
      background-color: rgba(0, 0, 0, 0.3) !important;
      border: 0 !important;
      color: white !important;
      height: 60px !important;
      overflow-y: auto;
    }

    .type_msg:focus {
      box-shadow: none !important;
      outline: 0px !important;
    }

    .attach_btn {
      border-radius: 15px 0 0 15px !important;
      background-color: rgba(0, 0, 0, 0.3) !important;
      border: 0 !important;
      color: white !important;
      cursor: pointer;
    }

    .send_btn {
      border-radius: 0 15px 15px 0 !important;
      background-color: rgba(0, 0, 0, 0.3) !important;
      border: 0 !important;
      color: white !important;
      cursor: pointer;
    }

    .search_btn {
      border-radius: 0 15px 15px 0 !important;
      background-color: rgba(0, 0, 0, 0.3) !important;
      border: 0 !important;
      color: white !important;
      cursor: pointer;
    }

    .contacts {
      list-style: none;
      padding: 0;
    }

    .contacts li {
      width: 100% !important;
      padding: 5px 10px;
      margin-bottom: 15px !important;
    }

    .active {
      background-color: rgba(0, 0, 0, 0.3);
    }

    .user_img {
      height: 70px;
      width: 70px;
      border: 1.5px solid #f5f6fa;

    }

    .user_img_msg {
      height: 40px;
      width: 40px;
      border: 1.5px solid #f5f6fa;

    }

    .img_cont {
      position: relative;
      height: 70px;
      width: 70px;
    }

    .img_cont_msg {
      height: 40px;
      width: 40px;
    }

    .online_icon {
      position: absolute;
      height: 15px;
      width: 15px;
      background-color: #4cd137;
      border-radius: 50%;
      bottom: 0.2em;
      right: 0.4em;
      border: 1.5px solid white;
    }

    .offline {
      background-color: #c23616 !important;
    }

    .user_info {
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 15px;
    }

    .user_info span {
      font-size: 20px;
      color: white;
    }

    .user_info p {
      font-size: 10px;
      color: rgba(255, 255, 255, 0.6);
    }

    .video_cam {
      margin-left: 50px;
      margin-top: 5px;
    }

    .video_cam span {
      color: white;
      font-size: 20px;
      cursor: pointer;
      margin-right: 20px;
    }

    .msg_cotainer {
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 10px;
      border-radius: 25px;
      background-color: #82ccdd;
      padding: 10px;
      position: relative;
      white-space: pre-line;
    }

    .msg_cotainer_send {
      margin-top: auto;
      margin-bottom: auto;
      margin-right: 10px;
      border-radius: 25px;
      background-color: #78e08f;
      padding: 10px;
      position: relative;
    }

    .msg_time {
      position: absolute;
      left: 0;
      bottom: -15px;
      color: rgba(255, 255, 255, 0.5);
      font-size: 10px;
    }

    .msg_time_send {
      position: absolute;
      right: 0;
      bottom: -15px;
      color: rgba(255, 255, 255, 0.5);
      font-size: 10px;
    }

    .msg_head {
      position: relative;
    }

    #action_menu_btn {
      position: absolute;
      right: 10px;
      top: 10px;
      color: white;
      cursor: pointer;
      font-size: 20px;
    }

    .action_menu {
      z-index: 1;
      position: absolute;
      padding: 15px 0;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      border-radius: 15px;
      top: 30px;
      right: 15px;
      display: none;
    }

    .action_menu ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .action_menu ul li {
      width: 100%;
      padding: 10px 15px;
      margin-bottom: 5px;
    }

    .action_menu ul li i {
      padding-right: 10px;

    }

    .action_menu ul li:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.2);
    }

    @media(max-width: 576px) {
      .contacts_card {
        margin-bottom: 15px !important;
      }
    }
  </style>
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>

<body>
  <!DOCTYPE html>
  <html>

  <head>
    <title>Chat</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
      integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <script type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
  </head>
  <!--Coded With Love By Mutiullah Samim-->

  <body>
    <div class="container-fluid h-100">
      <div class="row justify-content-center h-100">
        <div class="col-md-4 col-xl-3 chat">
          <div class="card mb-sm-3 mb-md-0 contacts_card">
            <div class="card-header">
              <div class="input-group">
                <input type="text" placeholder="Search..." name="" class="form-control search">
                <div class="input-group-prepend">
                  <span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
                </div>
              </div>
            </div>
            <div class="card-body contacts_body">
              <ui class="contacts">

              </ui>
            </div>
            <div class="card-footer"></div>
          </div>
        </div>
        <div class="col-md-8 col-xl-6 chat chatClose" style="display: none;">
          <div class="card">
            <div class="card-header msg_head">
            </div>
            <div class="card-body msg_card_body" id='msg_card_body'>

            </div>
            <div class="card-footer">
              <div class="input-group">
                <div class="input-group-append">
                  <span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
                </div>
                <textarea name="menssagem" class="form-control type_msg" placeholder="Type your message..."></textarea>
                <div class="input-group-append">
                  <span class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </body>

  </html>

  <script type="text/javascript">


  </script>


  <script type="text/javascript">
    var socket = io('https://228577ba925e.ngrok.io');
    function contactName(data){
        if(data.contact.pushname === undefined){
          return data.contact.formattedName
        }else{
          return data.contact.pushname
        }
      }
    function chatDropdown(chats) {
      $(document).ready(function () {
        $('.listContact').click(function () {
          const numeroTel = $(this).attr('value')
          $('.active').removeClass('active')
          function chat(chats) {
            for (chat of chats) {
              if (chat.contact.id === `${numeroTel}@c.us`) {
                return chat
              }
            }
          }
          const chatVal = chat(chats)
          $(".chatClose").show("slow", () => {

            $(".chatClose").removeClass("chatClose").addClass("chatShow");
            $(".chatShow").attr('value', $(this).attr('value'))


            $('.msg_head').append(`
                <div class="d-flex bd-highlight">
                  <div class="img_cont">
                    <img src=`+ chatVal.contact.profilePicThumbObj.eurl + ` class="rounded-circle user_img">
                    <span class="online_icon"></span>
                  </div>
                  <div class="user_info">
                    <span>`+ contactName(chatVal) + `</span>
                    <p></p>
                  </div>
                  <div class="video_cam">
                    <span><i class="fas fa-video"></i></span>
                    <span><i class="fas fa-phone"></i></span>
                  </div>
                </div>
                <span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
                <div class="action_menu">
                  <ul>
                    <li><i class="fas fa-user-circle"></i> View profile</li>
                    <li><i class="fas fa-users"></i> Add to close friends</li>
                    <li><i class="fas fa-plus"></i> Add to group</li>
                    <li><i class="fas fa-ban"></i> Block</li>
                  </ul>
                </div>
            `)
            $(`.${numeroTel}`).addClass('active')
            socket.emit('room', numeroTel);
          })
          $(".chatShow").hide("slow", () => {
            socket.emit('leave-room', $(".chatShow").attr('value'));
            $(".chatShow").removeClass("chatShow").addClass("chatClose");
            $('.msg_card_body').replaceWith('<div class="card-body msg_card_body"></div>')
            $('.msg_head').replaceWith('<div class="card-header msg_head"></div>')
            $(`.${numeroTel}`).removeClass('active')
          })
        });
      });
    }

    function listaContato(chat) {
      function teste(chat) {
        if (chat.contact.profilePicThumbObj.eurl === undefined || chat.contact.profilePicThumbObj.eurl === null) {
          return 'https://img.freepik.com/vetores-gratis/avatar-de-personagem-de-empresario-isolado_24877-60111.jpg?size=338&ext=jpg'
        }
        else {

          return chat.contact.profilePicThumbObj.eurl
        }
      }
    
      $('.contacts').append(`
            <li class="`+ chat.presence.id.user + `">
                <div class="d-flex bd-highlight listContact" value=`+ chat.presence.id.user + `>
                  <div class="img_cont">
                    <img src=`+ teste(chat) + `
                      class="rounded-circle user_img">
                    <span class="online_icon"></span>
                  </div>
                  <div class="user_info">
                    <span>`+ contactName(chat) + `</span>
                    <p>`+ contactName(chat) +` is online</p>
                  </div>
                </div>
            </li>
   `)
    }

    function timeConverter(UNIX_timestamp){
      var a = new Date(UNIX_timestamp * 1000);
      var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
      var date = a.getDate();
      if (date< 10) {
        date  = "0" + date;
      }
      var year = a.getFullYear();
      var month = a.getMonth();
      if (month< 10) {
        month  = "0" + month;
      }
      
      var hour = a.getHours();
      var min = a.getMinutes();
      var sec = a.getSeconds();
      if(new Date().getDate() === a.getDate()){
        var time = 'Hoje, ' + ' ' + hour + ':' + min ;
      }
      else{
       var time = date + '/' + month + '/' + year + ' ' + hour + ':' + min ;
      }
      return time;
    }

    function renderReciveMenssager(message) {
      $('.msg_card_body').append(`
      <div class="d-flex justify-content-end mb-4">
        <div class="msg_cotainer_send">`+message.body+ `<span class="msg_time_send">`+timeConverter(message.t)+`</span></div>
        <div class="img_cont_msg">
          <img src=`+ message.sender.profilePicThumbObj.eurl + `
            class="rounded-circle user_img_msg">
        </div>
      </div>
      `)
    }

    function renderSendMenssager(message) {
      $('.msg_card_body').append(`
        <div class="d-flex justify-content-start mb-4">
          <div class="img_cont_msg">
            <img src=`+ message.sender.profilePicThumbObj.eurl + ` class="rounded-circle user_img_msg">
          </div>
          <div class="msg_cotainer">`+message.body+`<span class="msg_time">`+timeConverter(message.t)+`</span></div>
        </div>
      `)
    }

    socket.on('listContact', (chats) => {
      console.log(chats)
      $('.contacts').replaceWith('<ui class="contacts"></div>')
      for (chat of chats) {
        if (chat.isGroup === false) {
          listaContato(chat)
          //listaClass.push(`.${chat.presence.id.user}`)
        }
      }
      chatDropdown(chats)
    })

    socket.on('updateWhatsapp', (data) => {
      console.log(data)
      if (data.fromMe === true) {
        renderSendMenssager(data)
        $('.msg_card_body').scrollTop($(".msg_card_body")[0].scrollHeight);
      }
      if (data.fromMe === false) {
        renderReciveMenssager(data)
        $('.msg_card_body').scrollTop($(".msg_card_body")[0].scrollHeight);
      }
    })

    socket.on('chat', (chat) => {
      console.log(chat.length);
      $('.msg_head .bd-highlight .user_info p').append(`${chat.length} Messages`)
      $('.msg_head .bd-highlight .user_info p').attr('value', chat.length)

      for (message of chat) {
        if (message.fromMe === false) {
          renderReciveMenssager(message)
        }
        else {
          renderSendMenssager(message)

        }
      }
      $('.msg_card_body').scrollTop($(".msg_card_body")[0].scrollHeight);
    })

    function sendMessage(){
      event.preventDefault();
        var mensagem = $('textarea[name=menssagem]').val();
        if (mensagem.length) {
          var mensagemObject = {
            resposta: mensagem,
            mensagem: '',
            from: `${$(".chatShow").attr('value')}@c.us`
          };
          socket.emit('sendMenssage', mensagemObject);
        }
        //renderSendMenssager(mensagemObject)
        $('textarea[name=menssagem]').val('');
        var messageNumber = parseInt($('.msg_head .bd-highlight .user_info p').attr('value'))+1
        $('.msg_head .bd-highlight .user_info p').replaceWith(`<p value="`+messageNumber+`"> `+ messageNumber +` Messages</p>`)
    }

    $('.input-group-append').click(function () {
      sendMessage()
    })

    $(document).keypress(function (event) {
      var keycode = (event.keyCode ? event.keyCode : event.which);
      if (keycode == '13') {
        sendMessage()
      }
    });
  </script>
</body>

</html>